<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Dynamic Portfolio - Kishan Padsala</title>    
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />        

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/css/style.css">

    {{!-- favicon --}}
    <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/static/images/favicon/site.webmanifest">

  </head>
  <body>    
    {{>navbar data=details}}

    <div class="background1">    
    {{!-- Introduction section --}}    
    <section class="introduction_section py-5">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">        
            {{#each introductions}}    
            <h1 class="py-4">{{this.title}}</h1>
            <p class="introduction_content mb-5">{{this.content}}</p>          
            {{/each}}
          </div>
        </div>
      </div>
    </section>
        
      {{>slider slides=slides}}
    
    {{!-- services section --}}
    <section id="services_section" class="pt-5 pb-3">
      <div class="container">
        <h6 class="text-center">MY SERVICES</h6>
      <h1 class="text-center">Here Are Some Of My Skills</h1>
      <div class="row mt-5">

        {{#each services}}      
        <div class="py-3">          
          <div class="card bg-light text-white bg-opacity-25 rounded-5">
            <div class="card-body">      
              <div class="container text-center py-3">
                <i class="{{this.icon}} service_icon"></i>
              </div>               
              <h2 class="card-title">{{this.title}}</h2>      

              <ul class="service_content">
                {{#each this.description}}
                <li>{{this.languageName}}</li>
                {{/each}}
              </ul>
            </div>
          </div> 
        </div>
        {{/each}}
        </div>
      </div>
    </section>

      {{!-- education section --}}
      {{#each educations}}
      <section id="education_section" class="banner2_section py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center pt-3">
              {{!-- left side text --}}
              <h1>{{this.sectionName}}</h1>
              <div class="row py-4 education_content">
                <div class="col-md-6">
                  <p>{{this.universityName}}</p>
                  <p>{{this.course}}</p>
                </div>
                <div class="col-md-6">
                  <p>{{this.marks}}</p>
                  <p>{{this.date}}</p>
                </div>                                
              </div> 

              <div class="row py-3 education_content">
                <div class="col-md-6">
                  <p>{{this.bachelorUniversityName}}</p>
                  <p>{{this.bachelorCourseName}}</p>
                </div>
                <div class="col-md-6">
                  <p>{{this.bachelorMarks}}</p>
                  <p>{{this.date1}}</p>
                </div>                                
              </div> 

            </div>
            <div class="col-md-6 text-center pt-2">
              {{!-- right side image --}}
              <img class="img-fluid rounded-4" style="height: 370px;" src="{{this.imageUrl}}" alt="" srcset="">
            </div>
          </div>
        </div>
      </section>
      {{/each}}

      {{!-- Experience section --}}
      {{#each experiences}}
      <section id="experience_section" class="banner2_section py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-6 text-center pt-2">
              {{!-- right side image --}}
              <img class="img-fluid rounded-4" style="height: 370px;" src="{{this.imageUrl}}" alt="" srcset="">
            </div>
            <div class="col-md-6 pt-5">
              {{!-- left side text --}}
              <div class="text-center">

              <h1>{{this.title}}</h1>
              <div class="row py-4 experience_content">
                <div class="col-md-6">
                  <p>{{this.developer}}</p>
                  <p>{{this.companyName}}</p>
                </div>
                <div class="col-md-6">
                  <p>{{this.date}}</p>
                  <p>{{this.date1}}</p>
                </div>                                
               </div> 
              </div>

              <ul class="experience_content">
                {{#each this.contentList}}
                <li>{{this.content}}</li> 
                {{/each}}               
              </ul>
            </div>            
          </div>
        </div>
      </section>
      {{/each}}
      
      {{!-- About section --}}
      <section id="about_section" class="about_section py-5">
        <div class="container text-center">
          <div class="row">
            <div class="col-md-12">
              {{#each abouts}}
              <h1>{{this.title}}</h1>
              <p class="about_content pt-4 pb-5">{{this.content}}</p>
              {{/each}}                
            </div>
          </div>
        </div>
      </section>
    </div>
    
      <footer class="footer border-top text-white bg-dark py-5">
        <div class="container">
          <div class="d-flex justify-content-between">
            {{#each footers}}
            <div class="fw-medium">
              {{this.content}}              
            </div>
            {{/each}}

            <div class="row"> 
              <div class="col-md-6">
                <a class="icon-link icon-link-hover fw-medium" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0); text-decoration: none; color:white;" href="https://www.linkedin.com/in/kishan-padsala/" target="_blank">
                  <i class="fa-brands fa-linkedin linkedin_icon"></i>
                  LinkedIn
                </a> 
              </div>             
              <div class="col-md-6">
                <a class="icon-link icon-link-hover fw-medium" style="--bs-icon-link-transform: translate3d(0, -.125rem, 0); text-decoration: none; color:white;" href="mailto:kishanpadsala1@gmail.com" target="_blank">
                  <i class="fa-solid fa-envelope gmail_icon"></i>
                  Gmail
                </a>       
              </div>                                                                                         
            </div>
          </div>
        </div>
      </footer>
            
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>